<!DOCTYPE html>
<head>
	<title>Politinfluence</title>
</head>
<body>
	<ul>
		<% list.forEach(function(doc){%>
			<li> <a href="/info?id=<%= doc._id %>"><%= doc.name %></a>
				<ul>
					<li> <%= doc.state %>, district <%= doc.district %> </li>
				</ul>
			</li>
		<% }); %>
	</ul>
</body>